:root {
    --bg-main: #F8FAFC;
    --text-main: #0F172A;
}

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: var(--bg-main);
    color: var(--text-main);
    overflow-y: scroll;
    scrollbar-width: none;
    transition: 0.5s ease;
}

body::-webkit-scrollbar {
    display: none;
}

.dark {
    background: #1b2949;
}

.dark header {
    background: #141e37;
}

.dark .task,
.dark select,
.dark button {
    background: #0b101e;
    color: white;
}

@media (max-width: 500px) {
    li, p { max-width: 80%; }
}

@media (min-width: 501px) {
    li, p { max-width: 90%; }

}
